@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  /*background-color: #8EC5FC;*/
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
::selection{
  background: #1a75ff;
  color: #fff;
}
